<div class="container">
	<div style="width: 40%; margin: auto"><h2>Login</h2></div>
	<div class="row loginForm">
		<div class="loginFormInner">
			<div class="form-group">
				<label for="email">Email: </label>
				<input type="text" name="" class="form-control" name="email" placeholder="email" ng-model="$ctrl.email" required>
			</div>
			<div class="form-group"> 
				<label for="password">Password: </label>
				<input type="password" name="" class="form-control" name="password" placeholder="password" ng-model="$ctrl.password" required="">
			</div>
		</div>
		<div class="pull-right orm-group">
			<button ng-click="$ctrl.login()">Login!</button>
			<span>Or</span>
			<a href="/create"><button>Create Account!</button></a>
		</div>
	</div>
</div>