<div class="modal-header">
    <h5 class="modal-title a-head-title">PERSONALIZE YOUR PREFERENCES</h5>
</div>
<div class="modal-body">
	<div>
		<textarea name="" ng-model="userProfession" class="form-control textarea" placeholder="What is your profession? - e.g: I am a nutritionist" maxlength="50"></textarea>
	</div>
	<div class="topicSelect">
		<span ng-repeat="preferenceList in preferenceLists track by $index" class="fine-tune-pref" ng-click="addItem(preferenceList); item.isActive = !item.isActive" ng-class="{'active': item.isActive && selectedTopic.taxanomy.indexOf(preferenceList) !== -1, 'existing':  selectedTopic.taxanomy.indexOf(preferenceList) !== -1}">{{preferenceList}}</span>
	</div>
</div>
<div class="modal-footer">
<button ng-click = "submitPreferences(); closeThisDialog()" class="btn">Save</button>
</div>
  